
  
  * {
    box-sizing: border-box;
  }
  
  
  .container {
    padding: 16px;
    background-color: white;
    max-width: 50%;
    margin: auto;
  }
  
  
  input[type=text], input[type=password],input[type=number], select, textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus, textarea {
    background-color: #ddd;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  .registerbtn {
    background-color: rgba(33,47,61,1);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }

  .refreshbtn {
    background-color: rgba(33,47,61,1);
    color: white;
    padding: 16px 20px;
    margin: 0 auto;
    display: block;
    border: none;
    cursor: pointer;
    /*width: 100%;*/
    opacity: 0.9;
  }
  
  .refreshbtn:hover {
    opacity: 1;
  }
  
  
  a {
    color: dodgerblue;
  }
  
  
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  } 
  
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }